<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>News APP</h1>
    {% for i in articles %}
        <img src="{{% i.urltoimage %}}" alt="" height="200px" width="200px">
        <p>{{% i.author %}}</p>
        <p>{{% i.title %}}</p>
        <p>{{% i.description %}} </p>
        <a href="{{% i.url %}}" target="_blank"></a>
        <a href="{{% i.url %}}" target="_blank"></a>

</body>
</html>